[submodule "src/ReplicatedStorage/ThirdParty/Stringify"]
	path = src/ReplicatedStorage/ThirdParty/Stringify
	url = https://github.com/cyrus01337/rojo-stringify.git
	branch = rojo
[submodule "src/ReplicatedStorage/ThirdParty/PartCache"]
	path = src/ReplicatedStorage/ThirdParty/PartCache
	url = https://github.com/cyrus01337/rojo-partcache.git
[submodule "src/ReplicatedStorage/Require"]
	path = src/ReplicatedStorage/Require
	url = https://github.com/cyrus01337/require.git
[submodule "src/ReplicatedStorage/Objects"]
	path = src/ReplicatedStorage/Objects
	url = https://github.com/cyrus01337/objects.git
[submodule "src/ReplicatedStorage/Utils"]
	path = src/ReplicatedStorage/Utils
	url = https://github.com/cyrus01337/utils.git
	branch = luau
